

header {
    height: 45vh;
}
header h1 {
    font-size: 35px;
    margin-top: 90px;
}
header p {
    font-size: 20px
}
.logoNav {
    width: 25%;
    margin-left: 140px;
    margin-top: 5px;
} 
nav ul li {
    display: none;
}
.contactbutton a{
    font-size: 13px;
    padding: 5px 10px;
}
.icon {
    margin-top: 40px;
}
.icon img {
    width: 30px;
}

.menuNav {
    position: absolute;
    display: none;
    width: 50%;
    left: 20px;
    top: 70px;
}
.MenuBurger {
    position: absolute;
    display: block;
    left: 20px;
    cursor: pointer;
}

.affichageMenu {
    display: block;
    flex-direction: column;
    align-items: center;
}

.menuNav ul {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #d7e840dc;
    
} 
.menuNav ul a {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transition: color 0.3s ease 0s;
    padding: 15px;
} 
.menuNav ul a:hover {
    color: aliceblue;
}

/* -------------------------------ABOUTME--------------------------------- */

#aboutme h1 {
    text-align: center;
    font-size: 18px;
}
.aboutcontent {
    display: block;  
}
.aboutcontent p {
    width: 100%;
    font-size: 15px;
    margin-top: -30px;
}
.skills {
    margin: 0 auto;
}
.skills h2 {
    font-size: 14px;
}
.skills img {
    width: 30px;
    padding: 4px;
}

/* --------------------------------EXPERIENCE----------------------------------------------------- */

#experience h1 {
    font-size: 18px;
}
.SlideElement {
    height: 200px;
    perspective: 700px;
}
.SlideElement img {
    height: 130px;
    width: 100px;
}

/* --------------------------------EDUCATION----------------------------------------------------- */

#education h1 {
    font-size: 18px;
}
.gotham, .colombia, .bob {
    text-align: center;
}
.container {
    display: block;
}
.gotham img, .colombia img, .bob img {
    width: 180px;
    height: 100px;
    margin-top: 20px;
}

/* --------------------------------CONTACT----------------------------------------------------- */
#formulaire h1 {
    font-size: 18px;
}
form {
    max-width: 300px;
    height: 300px;
}
input{
    font-size: 10px;
    height: 10px;
}
textarea {
    height: 90px;
    resize: none;    
    font-size: 10px;

}

button[type="submit"] {
    font-size: 10px;
}
/* --------------------------------FOOTER----------------------------------------------------- */
footer {
    height: 30px;
}
footer img{
    width: 40px;
}
footer p{
    font-size: 14px;
    padding-left: 20px;
}