* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: beige;
}

header {
    background-image: url(./pictures/header.jpeg);  /* baisser l'image header */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
header h1 {
    color: yellow;
    text-align: center;
    margin-top: 160px;
    font-size: 90px;
    word-spacing: 1rem;
}
header p {
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
}
.icon {
    text-align: center;
    margin-top: 75px
}
.logoNav {
    width: 200px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
   
}
nav ul li {
    display: inline;
    padding-right: 50px;
}
nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
nav ul li a:hover {
    color: yellow;
}

.contactbutton a {
    color: black;
    background-color: yellow;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 22px;
}
.contactbutton a:hover {
    color: yellow;
    background-color: black;
    border: 1px solid yellow;
    font-size: 22px;
}

/* --------------------------------ABOUT ME ---------------------------- */
hr {
    width: 120px;
    margin: 0 auto;
}
#aboutme {
    margin-top: 50px;     
}

.aboutcontent {
    display: flex;
    margin: 40px 30px;
}
.aboutcontent p {
    padding: 20px;
    font-size: 20px;
    width: 60%;
}

#aboutme h1{
    text-align: center;
    text-transform: uppercase;
}
.skills {
    text-align: center;
    padding: 10px;
    width: 40%;
}
.skills h2{
    margin-bottom: 20px;
    margin-top: -10px;
    
}
.skills img {
    background-color: #9f9a9a4e;
    padding: 10px;
}


