* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: beige;
}

header {
    background-image: url(./pictures/header.jpeg);  
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}
header h1 {
    color: yellow;
    text-align: center;
    margin-top: 160px;
    font-size: 90px;
    word-spacing: 1rem;
}
header p {
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
}
.icon {
    text-align: center;
    margin-top: 75px
}
.logoNav {
    width: 200px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
   
}
nav ul li {
    display: inline;
    padding-right: 50px;
}
nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
nav ul li a:hover {
    color: yellow;
}

.contactbutton a {
    color: black;
    background-color: yellow;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 22px;
}
.contactbutton a:hover {
    color: yellow;
    background-color: black;
    border: 1px solid yellow;
    font-size: 22px;
}

/* --------------------------------ABOUT ME ---------------------------- */
hr {
    width: 120px;
    margin: 0 auto;
}
#aboutme {
    margin-top: 50px;     
}

.aboutcontent {
    display: flex;
    margin: 40px 30px;
}
.aboutcontent p {
    padding: 20px;
    font-size: 20px;
    width: 60%;
}

#aboutme h1{
    text-align: center;
    text-transform: uppercase;
}
.skills {
    text-align: center;
    padding: 10px;
    width: 40%;
}
.skills h2{
    margin-bottom: 20px;
    margin-top: -10px;
    
}
.skills img {
    background-color: #9f9a9a4e;
    padding: 10px;
}

/* --------------------------------EXPERIENCE----------------------------------------------------- */

#experience h1{
    text-align: center;
    text-transform: uppercase;
    
}
.SectionDeuxSlider {
    
    margin: 30px auto;
    position: relative;
    width: 80%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.SliderContainer {
    display: flex;
    width: calc(250px * 8);
    animation: sliderGalerie 30s linear infinite; 
}
.SliderContainer:hover {
    animation-play-state: paused ; 
}
@keyframes sliderGalerie {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}
.SlideElement {
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    
    
}
.overlay {
    position: absolute;
    transform: scale(0);
    top: 50%;
  
}
.SlideElement img .overlay {
    position: relative;
}
.SlideElement:hover .overlay {
    transform: scale(1);
    
}

.SlideElement img {
    width: 80%;
    transition: transform 1s; 
}

.SlideElement img:hover {
    transform: translateZ(20px);
    opacity: 20%; 
}

.SectionDeuxSlider::before,
.SectionDeuxSlider::after{
    background:  linear-gradient(to right, rgba(137, 134, 117, 0.374) 0%, rgb(255, 255, 255,0) 100%);
    content: ' ';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
}
.SectionDeuxSlider::before {
    left: 0;
    top: 0;
}
.SectionDeuxSlider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
/* --------------------------------EDUCATION----------------------------------------------------- */

#education h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    
}
.gotham img, .colombia img, .bob img{
    width: 220px;
    height: 160px;
    box-shadow: 6px 6px 25px rgba(5, 5, 5, 1);
    margin-bottom: 7px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
} 
.container p {
    text-align: center;
}


/* -------------------------FORMULAIRE------------------------ */

#formulaire h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

form {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-image: url(./pictures/batman-dc-comics-1-57660-440x275-MM-80.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input, textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: black;
    color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
button[type="submit"]:hover {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

/* -------------------------FOOTER------------------------ */

footer {
    background-color: black;
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 30px;
}
footer img {
    width: 55px;
}
footer p {
    color: yellow;
}